Trabajador {
    font-family: sans-serif;
    background: white;
    color: black;
    display: block;
}

Nombre {
    margin: 1em;
    color: red
}

Ciudad {
    margin-bottom: 2em
}

Provincia {
    line-height: 1.5;
    margin-left: 20px
}

Edad {
    color: blue
}